[github]
	user = flexd
[user]
	email = web@flexd.net
	name = Kristoffer Berdal
	signignkey = DA233215
[core]
    excludesfile = ~/.gitignore
    editor = vim
[credentials]
    helper = cache --timeout=3600
[include]
    path = .gitconfig.local

[color]
    ui = true
    branch = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    # listing aliases
    la = "!git config -l | grep alias | cut -c 7-"

    # misc
    s = status
    # fancy log views that'll blow your mind
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # inspect last commit
    dl = "!git lg2 -1"
    dlc = diff --cached HEAD^

    # finding file
    f = "!git ls-files | grep -i"

    # diff with vim
    d = difftool
	up = "!git remote update -p; git merge --ff-only @{u}"
[credential]
	helper = cache
[push]
	default = simple
